*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

b,p{
  font-family: 'Alegreya', serif;
}
p{
  font-size: 20px;
  font-weight: 900;
}
.addToCart{
  background-color: rgb(246, 250, 16);
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  float: left;
  text-align: center;
  outline: none;
}
.buyNow{
  background-color: rgb(255, 153, 0);
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  float: right;
  text-align: center;
  outline: none;
}
.buyNow:hover{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transition: ease-in-out 1ms;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 9px #999;
}
.addToCart:hover{
  background-color: rgb(255, 153, 0);
  box-shadow: 0 5px #666;
  transition: ease-in-out 1ms;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 9px #999;

}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

